<header>
  <%= link_to image_tag(image_path('arrow.png')), 'javascript:history.back()', class: "back-btn" %>
  <h2><%= name %></h2>
  <div class="actions">
    <button form="<%= form %>" id="btn-next"><%= btn_text %></button>
  </div>
</header>