<section class='splash'>
  <header>
    <h1>Budgeting</h1>
  </header>
  <div class='action-buttons'>
    <button class='btn btn-login'>LOGIN</button>
    <button class='btn btn-sign-up'>SIGN UP</button>
  </div>
</section>